html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Page Styles */

body {
    background-color: #000033;
    font-family: 'Open Sans', sans-serif;
}

.main {}

.heading {
    background-color: hsla(0, 0%, 0%, 0.4);
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}

.spotifyImg {
    margin-top: 5px;
}

h1 {
    padding-top: 25px;
    font-family: inherit;
    font-weight: bold;
    font-size: 100%;
    color: hsla(0, 0%, 95%, 0.7);
}

.loginForm {
    margin-left: 70%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.signUpForm {
    margin-left: 55%;
}

input {
    background-color: hsl(0, 0%, 85%);
    padding-bottom: 7px;
    margin-bottom: 15px;
    padding-top: 7px;
    width: 200px;
}

input[type="text"]::-webkit-input-placeholder {
    color: hsl(0, 0%, 50%) !important;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="password"]::-webkit-input-placeholder {
    color: hsl(0, 0%, 50%) !important;
}

.signUpText {
    color: hsl(0, 0%, 85%);
    font-weight: bold;
    font-style: italic;
    font-size: 115%;
    display: block;
    padding-bottom: 2px;
}

.logIn {
    color: hsl(0, 0%, 40%);
    font-size: 85%;
    text-align: center;
    font-weight: bolder;
    background: hsla(60, 100%, 80%, 0.8);
    font-style: italic;
    cursor: pointer;
    padding: 0 15px;
    line-height: 22px;
    display: block;
    width: 43px;
}

.signUp {
    color: hsl(0, 0%, 35%);
    font-size: 85%;
    text-align: center;
    font-weight: bolder;
    background: hsla(60, 100%, 76%, 0.8);
    font-style: italic;
    cursor: pointer;
    padding: 3px 15px;
    line-height: 22px;
    display: block;
    width: 59px;
    margin-bottom: 270px;
}

.footer {
    border-top: 1px solid #8c8c8c;
    background: hsla(0, 0%, 10%,0.6);
}

.imgNinja {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 198px;
}

.footerText {
    color: hsl(0, 0%, 90%);
    font-style: italic;
    font-size: 80%;
    display: block;
    padding-left: 15px;
    padding-bottom: 1px;
}
